.crypto-table{
    max-width: 1280px;
    margin: 0px auto;
}

.crypto-table__table{
    margin-bottom: 20px;
}

.crypto-table__plus{
    text-align: center;
    cursor: pointer;
    padding: 5px;
    border: 1px solid #fff;
    border-radius: 5px;
}

.crypto-table__plus:hover{
    border: 1px solid #000;
}

.crypto-table__pagination{
    display: flex;
    max-width: 650px;
    margin: auto;
    justify-content: space-between;
}

.crypto-table__pagination-button{
    padding: 5px 15px;
    border: 1px solid rgb(192, 192, 192);
    border-radius: 5px;
}

.crypto-table__pagination-button:hover{
    background-color: #c7c7c7;
}

.disable{
    background-color: #F0F0F0;
}

.disable:hover{
    background-color: #F0F0F0;
}

.active{
    background-color: #EC0C91;
}

.center{
    text-align: center;
}

