.crypto-details{
    max-width: 1080px;
    margin: 0 auto;
}

.crypto-details__header{
    margin-bottom: 20px;
    text-align: center;
}

.crypto-details__header span{
    margin-right: 20px;
    border: 5px solid #000;
    padding: 2px 10px
}

.crypto-details__order{
    display: flex;
    flex-direction: column;
    max-width: 1080px;
    margin: 0 auto 30px;
    background-color: #F2F2F2;
    border: solid 1px #F2F2F2;
    border-radius: 15px;
    padding: 10px 0px;
}

.crypto-details__sub-header{
    margin-bottom: 10px;
    text-align: center;
}

.crypto-details__submit{
    display: flex;
    flex-direction: column;
    max-width: 500px;
    margin: 0px auto;
}

.crypto-details__submit input{
    padding: 3px 10px;
    outline: none;
    border: 1px solid #000;
    border-radius: 8px;
    
    font-size: 16px;
}

.crypto-details__error{
    color: red;
    height: 25px;
    opacity: 0;
    transition: opacity 0.2s;
}

.visible{
    opacity: 1;
}

.crypto-details__submit button{
    width: 100px;
    padding: 5px 15px;
    margin: 0 auto;
}

.crupto-details__information table{
    width: 100%;
    border-collapse: collapse;
}

.crupto-details__information table thead tr th {
    border: 1px solid #F2F2F2;
    padding: 15px;
}

.crupto-details__information table tbody tr td {
    border: 1px solid #F2F2F2;
    padding: 15px;
}

.crupto-details__table{
    margin-bottom: 30px;
}

.crupto-details__back{
    width: 100px;
    margin: 0 auto;
}

.crupto-details__link{
    text-decoration: none;
}

.crupto-details__back button{
    display: flex;
    padding: 8px 35px;
    border : solid 1px purple;
    border-radius: 15px;
    background-color: rgb(203, 0, 203);
    align-items: center;
}

.crupto-details__back button:hover{
    background-color: rgb(176, 0, 176);
    color: #F2F2F2;
}

.crupto-details__arrow-left-outlined{
    margin-right: 8px;
}

@media (max-width: 767px) {
    .crupto-details__back button{
        margin-bottom: 20px;
    }
  }